@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	color-scheme: light;
}

html.dark {
	color-scheme: dark;
}

body {
	background: #f8fafc; /* slate-50 */
	color: #0f172a; /* slate-900 */
	font-family: "Inter", system-ui, sans-serif;
}

html.dark body {
	background: #020617; /* slate-950 */
	color: #f8fafc; /* slate-50 */
}
